@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.hamburger {
    @apply w-[30px] h-[2px] my-2 block bg-dark;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.active {
    @apply text-amber-700 font-semibold;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}
.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}
.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

.grid-card {
    @apply rounded-lg shadow-md overflow-hidden aspect-video relative cursor-pointer;
}

.grid-card-img {
    @apply w-full h-full bg-cover bg-center absolute group-hover:scale-105 transition-all duration-500;
}

#auto-type {
    @apply border-r-4 border-primary pr-1;
    animation: blink 0.7s infinite;
}

#auto-type.stop-blinking {
    border-color: #FEB237;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
